/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../_sass/main.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../_sass/main.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../_sass/main.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../_sass/main.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../_sass/main.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../_sass/main.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../_sass/main.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* line 45, ../_sass/main.scss */
::-moz-selection {
  background: #f2e5ed;
  color: #262d3d;
  text-shadow: none;
}

/* line 46, ../_sass/main.scss */
::selection {
  background: #f2e5ed;
  color: #262d3d;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 53, ../_sass/main.scss */
a {
  color: #00e;
}

/* line 54, ../_sass/main.scss */
a:visited {
  color: #551a8b;
}

/* line 55, ../_sass/main.scss */
a:hover {
  color: #06e;
}

/* line 56, ../_sass/main.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 59, ../_sass/main.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 66, ../_sass/main.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 68, ../_sass/main.scss */
b, strong {
  font-weight: bold;
}

/* line 70, ../_sass/main.scss */
blockquote {
  margin: 1em 40px;
}

/* line 72, ../_sass/main.scss */
dfn {
  font-style: italic;
}

/* line 74, ../_sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 76, ../_sass/main.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 78, ../_sass/main.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 81, ../_sass/main.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 84, ../_sass/main.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 86, ../_sass/main.scss */
q {
  quotes: none;
}

/* line 87, ../_sass/main.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 89, ../_sass/main.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 92, ../_sass/main.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 93, ../_sass/main.scss */
sup {
  top: -0.5em;
}

/* line 94, ../_sass/main.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 101, ../_sass/main.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 102, ../_sass/main.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 103, ../_sass/main.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 115, ../_sass/main.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 121, ../_sass/main.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 128, ../_sass/main.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 135, ../_sass/main.scss */
form {
  margin: 0;
}

/* line 136, ../_sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 139, ../_sass/main.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 146, ../_sass/main.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 154, ../_sass/main.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 160, ../_sass/main.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 168, ../_sass/main.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 174, ../_sass/main.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 180, ../_sass/main.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 181, ../_sass/main.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 182, ../_sass/main.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 188, ../_sass/main.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 195, ../_sass/main.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 199, ../_sass/main.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 206, ../_sass/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 207, ../_sass/main.scss */
td {
  vertical-align: top;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
/* line 214, ../_sass/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* =============================================================================
	Grid
   ========================================================================== */
/* line 219, ../_sass/main.scss */
#grid {
  /* Dimensions - same width as your grid with gutters */
  width: 980px;
  /* Grid (left-aligned)
  position: absolute;
  top: 0;
  left: 0;
  */
  /* Grid (centered) */
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -490px;
}

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
/* line 244, ../_sass/main.scss */
#grid div.vert {
    /*width: 139px;
    border: solid darkturquoise;
    border-width: 0 1px;
    margin-right: 19px;

}

#grid div.vert.first-line{

    margin-left: 19px;
*/
}

/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
/* line 266, ../_sass/main.scss */
#grid div.horiz {
  /* 20px line height */
  height: 33px;
  border-bottom: 1px dotted darkgray;
  margin: 0;
  padding: 0;
}

/**
* Classes for multiple grids
*
* When using more than one grid, remember to set the numberOfGrids 
* option in the hashgrid.js file.
*/
/* line 282, ../_sass/main.scss */
#grid.grid-1 div.vert {
  /* Vertical grid line colour for grid 1 */
  border-color: darkturquoise;
}

/* line 288, ../_sass/main.scss */
#grid.grid-2 {
  /* Adjustments */
  padding: 0 160px;
  width: 660px;
}

/* line 295, ../_sass/main.scss */
#grid.grid-2 div.vert {
  /* Vertical grid line colour for grid 2 */
  border-color: crimson;
}

/*Scale


ideal font size 21px	
baseline grid 34px
	
*/
/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/* line 314, ../_sass/main.scss */
body {
  color: #262D3D;
  font: normal 100%/2.125em "ff-tisa-web-pro",georgia,serif;
  background: #fefefe;
}

/* line 320, ../_sass/main.scss */
div.container {
  padding: 2.5em 1.313em;
  margin: 0 auto 0em auto;
  /*border: 10px solid #ddd;
  border-width: 0px 10px;*/
}

/* line 330, ../_sass/main.scss */
h1, section.logo span, h2 {
  font-family: "brandon-grotesque",futura,arial,sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
}

/* line 339, ../_sass/main.scss */
h1 {
  color: #404554;
  font-size: 1.313em;
  border-bottom: 1px solid #f2e5ed;
  display: block;
  text-align: center;
  line-height: 120%;
}

/* line 348, ../_sass/main.scss */
h2 {
  font-size: 1.313em;
  color: #404554;
  text-align: left;
  margin-bottom: 0;
  line-height: 1em;
}

/* line 356, ../_sass/main.scss */
p, a {
  font-size: 1.313em;
  vertical-align: baseline;
  margin-top: 1.619em;
  margin-bottom: 1.619em;
}

/* line 363, ../_sass/main.scss */
p a, li a {
  font-size: 1em;
}

/* line 368, ../_sass/main.scss */
a, a:visited {
  color: #404554;
  text-decoration: none;
  border-bottom: 1px solid #F1B6CE;
}

/* line 374, ../_sass/main.scss */
a:hover {
  border-bottom: 1px solid #F1B6CE;
  color: #F1B6CE;
}

/* line 379, ../_sass/main.scss */
a:active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

/* line 386, ../_sass/main.scss */
a.button, input.submit.button {
  background: #404554;
  color: #f2e5ed;
  box-shadow: 0px 2px 1px rgba(51, 51, 51, 0.1);
  border-bottom: 1px solid #262d3d;
  border-radius: 0.192em;
  padding: 0.31em 0.501em 0.192em 0.501em;
}

/* line 396, ../_sass/main.scss */
a.button:hover, a.button:active, input.submit.button:hover, input.submit.button:active {
  background: #F1B6CE;
  color: #404554;
  border-bottom: 1px solid #333;
}

/* line 403, ../_sass/main.scss */
a.button:active, input.submit.button:active {
  position: relative;
  top: 2px;
}

/* line 408, ../_sass/main.scss */
form input, form textarea, form label {
  font: normal 100%/1.313em "ff-tisa-web-pro",georgia,serif;
}

/* line 420, ../_sass/main.scss */
nav.master ul {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 2;
  background-color: #fefefe;
  color: #262d3d;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0px 4px 1px rgba(51, 51, 51, 0.05);
  border-bottom: 1px solid #ccc;
}

/* line 443, ../_sass/main.scss */
nav.master ul li {
  display: block;
  float: left;
  margin: 0 auto;
  width: 25%;
}

/* line 451, ../_sass/main.scss */
nav.master ul li.icon {
  width: 10%;
  margin-top: 3px;
}

/* line 457, ../_sass/main.scss */
nav.master ul li a {
  display: block;
  padding: 0.811em 0.3em;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 1em;
  color: #262d3d;
  text-decoration: none;
  border-bottom: none;
  line-height: 100%;
}

/* line 469, ../_sass/main.scss */
nav.master ul li a.linkedin, nav.master ul li a.dribbble {
  margin-top: -1px;
}

/* line 474, ../_sass/main.scss */
nav.master ul li a:hover, nav.master ul li a.current {
  color: #f1b6ce;
}

/* line 479, ../_sass/main.scss */
nav.master ul li a:active {
  color: #f2e5ed;
}

/*logo*/
/* line 487, ../_sass/main.scss */
div.logoHead {
  margin-top: 0;
  margin-bottom: 48px;
}

/* line 492, ../_sass/main.scss */
div.logoHead img {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 0em;
}

/* line 503, ../_sass/main.scss */
section.logo img {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* footer */
/* line 512, ../_sass/main.scss */
footer.master {
  margin-top: 1em;
  border-top: 1px solid #f2e5ed;
}

/* line 518, ../_sass/main.scss */
footer.master p {
  font-size: 0.8em;
  line-height: 130%;
  width: 50%;
  float: left;
}

/* line 525, ../_sass/main.scss */
footer.master img {
  display: block;
  width: 100px;
  float: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* main content */
/* line 539, ../_sass/main.scss */
section.folio, footer.contact {
  margin-top: 2.125em;
  padding: 0em 0;
}

/* line 544, ../_sass/main.scss */
.into {
  text-align: center;
}

/* line 548, ../_sass/main.scss */
section.intro p {
  margin-top: 0;
}

/*folio app*/
/* line 560, ../_sass/main.scss */
section.folio ul {
  margin: 2.125em auto;
  max-width: 826px;
}

/* line 565, ../_sass/main.scss */
section.folio ul li {
  float: left;
  width: 48.5%;
  margin: 0 10px 10px 0;
  border-width: 0px;
}

/* line 572, ../_sass/main.scss */
section.folio ul li:nth-child(even) {
  margin-right: 0em;
}

/* line 578, ../_sass/main.scss */
section.folio a {
  background: #f2e5ed;
  width: 100%;
  margin: 0px;
  color: #404554;
  text-decoration: none;
  border-radius: 0.1em;
  /*add webkit etc*/
  display: block;
  float: left;
  position: relative;
  border-width: 0px;
}

/* line 592, ../_sass/main.scss */
section.folio a:hover {
  color: #f1b6ce;
}

/* line 598, ../_sass/main.scss */
section.folio a:active {
  color: #fff;
  position: relative;
  top: 5px;
}

/* line 605, ../_sass/main.scss */
section.folio a.currentFolio {
  opacity: 0.2;
}

/* line 610, ../_sass/main.scss */
section.folio a img {
  width: 100%;
  display: block;
  border-radius: 0.3em;
  /*add webkit etc*/
}

/* line 620, ../_sass/main.scss */
section.folio h2 {
  text-align: center;
  display: block;
  font-size: 1em;
  margin: 0 auto 0 auto;
  padding: 0.8em 0;
  line-height: 1.313em;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: #fff;
  width: 100%;
  opacity: 0.6;
}

/* line 636, ../_sass/main.scss */
section.folio a:hover h2 {
  opacity: 0.9;
  background-color: #f1b6ce;
}

/*contact*/
/*section#Contact:target{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	border: 1px solid #ddd;
	border-width: 0 10px 0px 10px;
	margin: 3em 0 0 0;
	padding: 1.313em;
	box-sizing: border-box;
	box-shadow: 0px 4px 2px rgba(51, 51, 51, 0.1);
	
}

footer.contact{
		margin-top: 2.125em;
		clear: both;
		padding-bottom:2.125em;
		margin-bottom: 0;
		min-height: 100px;
}

footer.contact nav ul{
}

footer.contact nav ul li{
	display: block;
	float: left;
}

footer.contact nav ul li a{
	font-size: 1em;
	margin-right: 2.125em;
}


footer.contact nav ul li span.ss-icon{
	font-weight: bold;
	font-size: 1.812em;
	line-height: 100%;
	position: relative;
	top: 0.192em;
}

footer.contact nav ul li:hover span{
	color: #b02b2b;
}
footer.contact nav ul li:active span{
	color: #bbb;

}
*/
/* line 696, ../_sass/main.scss */
div#contactBlur {
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(51, 51, 51, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

/* line 707, ../_sass/main.scss */
section.contact {
  position: absolute;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  padding: 2.6em 2.125em 1.313em 2.125em;
  width: 100%;
  box-shadow: 0px 4px 1px rgba(51, 51, 51, 0.05);
  border-bottom: 1px solid #ccc;
  max-width: 600px;
}

/* line 723, ../_sass/main.scss */
section#Leave-A-Message {
  display: none;
}

/* line 726, ../_sass/main.scss */
section#Leave-A-Message:target {
  display: block;
  position: relative;
  top: 0;
  height: 100%;
  z-index: 1;
}

/* line 735, ../_sass/main.scss */
section.contact a.close {
  position: absolute;
  top: 0;
  right: 1.65em;
  margin-right: 0;
  display: block;
  background: #f2e5ed;
  padding: 0.61em 0.31em 0em;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}

/* line 747, ../_sass/main.scss */
section.contact p {
  font-size: 1em;
  line-height: 1.313em;
}

/* line 752, ../_sass/main.scss */
section.contact ul.contactLinks {
  padding-left: 0px;
}

/* line 756, ../_sass/main.scss */
section.contact ul.contactLinks li {
  list-style-type: none;
  display: block;
  width: 80%;
  margin-bottom: 1em;
  margin: 0 auto;
}

/* line 764, ../_sass/main.scss */
section.contact ul.contactLinks li a {
  display: block;
  text-align: center;
  padding: 0px;
  position: relative;
}

/* line 772, ../_sass/main.scss */
section.contact ul.contactLinks li a:before {
  top: 2px;
  left: -4px;
  position: relative;
}

/* line 778, ../_sass/main.scss */
section.contact form label {
  display: block;
  line-height: 1.313em;
  width: 100%;
  margin: 0 auto;
  display: none;
  /*check moderizr for placeholder atrribute*/
}

/* line 787, ../_sass/main.scss */
section.contact form input, section.contact form textarea {
  margin-top: 0;
  margin-bottom: 2.125em;
  width: 100%;
  clear: both;
  display: block;
  margin: 0 auto 2.125em auto;
}

/* line 797, ../_sass/main.scss */
section.contact form textarea {
  min-height: 100px;
}

/* line 802, ../_sass/main.scss */
section.contact form input.submit {
  border: 1px solid #999;
  border-width: 0 0 1px 0;
  display: block;
  margin: 0.501em auto;
  text-align: center;
  width: 50%;
}

/*folio items*/
/* line 814, ../_sass/main.scss */
section.folioItems {
  margin: 0 auto;
}

/*
section.folioItems article.folioItem{
	width: 100%;
	background-color: #fefefe;
	
	box-shadow: 0px 4px 2px rgba(51, 51, 51, 0.1);
	
	border-radius: 0.192em 0.192em 0 0;
	
	position: absolute;
	left: -100%;
	z-index: 1;
	
	top: 0em;
	border: 1px solid #ddd;
	
	margin: 0;
	
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
		padding: 1.313em;
	
}

section.folioItems a.close{
	width: 1.313em;
	display: block;
	color: #b02b2b;
	border: 2px solid #666;
	text-align: center;
	margin-top:-0.812em;
	margin-right: -0.812em;
	margin-bottom: 0;
	float: right;
	line-height: 1em;
	padding: 0.3em 0em 0em 0em;
	-webkit-border-radius: 1.3em;
	border-radius: 1.3em;
	width: 1.3em;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: 0px 2px 1px rgba(51, 51, 51, 0.1);
}

section.folioItems a.close:hover, section.folioItems a.close:active{
	color: #aaa;
	border: 2px solid #999;
	
}

section.folioItems a.close:active{
	position: relative;
	top: 2px;
}	
*/
/*

section.projectImagery div{
	width: 100%;
	overflow: auto;
	box-shadow: inset 0px 3px 5px rgba(200, 200, 200, 0.8);
	padding: 0 1em 1em 1em;
	box-sizing: border-box;
	
}

section.projectImagery ul.imageList{
	padding: 0;
	width: 3000px;
	background: #ccc;
}

section.projectImagery ul.imageList li{
	float: left;
	display: block;
}

section.projectImagery img{
	width: 88%;
}





section.projectImagery nav{
	
	margin: 1.313em auto 0 auto;
	font-weight: 900;
	display: table;
}

section.projectImagery nav ul li{
	float: left;
}

section.projectImagery nav ul li a{
	background-color: #333;
	color: #f7f7f7;
	width: 1.5em;
	height: 1.5em;
	display: block;
	text-align: center;
	border-radius:1.5em;
	line-height: 1.22em;
	margin: 0.31em;
	border-bottom: none;
	box-shadow: 0px 2px 1px rgba(51, 51, 51, 0.1);


}

section.projectImagery nav ul li a:hover{
	background-color: #b02b2b;
	border-bottom: none;
}

section.projectImagery nav ul li a.close:active{
	position: relative;
	top: 2px;
}	

section.projectImagery nav ul li a.tallLetters{
	line-height: 1.4em;
	
}*/
/* line 951, ../_sass/main.scss */
section.projectDetails p {
  font-size: 1em;
  line-height: 1.517em;
}

/* line 956, ../_sass/main.scss */
section.folioItems img {
  width: 100%;
}

/* line 960, ../_sass/main.scss */
section.folioItems h1 {
  font-size: 2.125em;
  line-height: 1em;
  clear: both;
  margin: 0 auto;
}

/* line 967, ../_sass/main.scss */
section.projectDetails a.liveLink {
  clear: both;
  display: table;
  text-align: center;
  margin: 1.313em auto;
}

/* line 977, ../_sass/main.scss */
section.projectDetails a.liveLink {
  font-size: 1em;
  line-height: 1.313em;
}

/* line 982, ../_sass/main.scss */
section.projectDetails a.liveLink p, section.projectDetails a.liveLink span {
  text-decoration: none;
  margin: 0;
}

/* line 987, ../_sass/main.scss */
section.projectDetails a.liveLink span {
  text-decoration: underline;
}

/*
section.folioItems article#folioItem1:target {
	left: 0px;
}*/
/* line 996, ../_sass/main.scss */
a.nextProject {
  font-size: 1em;
  line-height: 1.313em;
  display: table;
  text-align: center;
  margin: 0 auto 0.313em auto;
  background: #ddd;
  color: #999;
  border-bottom: 1px solid #ccc;
}

/* line 1007, ../_sass/main.scss */
a.nextProject span {
  font-size: 0.7em;
  margin-left: 1.313em;
}

/* line 1013, ../_sass/main.scss */
p.bottom {
  clear: both;
}

/*portfolio slideshow*/
/* line 1019, ../_sass/main.scss */
.galleryContainer {
  /* defaults for resposive height container */
  position: relative;
  width: 100%;
  height: 0;
  /* 39% being the ratio we are maintaining 
   * calculated by looking at the image 
   * ratio: 400/1024 = ~0.39 */
  padding: 0 0 39% 0;
}

/* line 1031, ../_sass/main.scss */
.iosSlider {
  width: 100%;
  /* this height ends up being your maximum height, 
   * if you want it to scale forever, set it to 
   * a very high number */
  height: 1500px;
}

/* line 1040, ../_sass/main.scss */
.iosSlider .slider {
  width: 100%;
  height: 100%;
}

/* line 1045, ../_sass/main.scss */
.iosSlider .slider .item {
  float: left;
  width: 100%;
}

/* line 1051, ../_sass/main.scss */
.iosSlider .slider .item img {
  width: 100%;
  height: auto;
}

/* controls */
/* line 1066, ../_sass/main.scss */
.galleryContainer .prev, .galleryContainer .next {
  position: absolute;
  top: 0;
  z-index: 10;
  line-height: 2.125em;
  background-color: rgba(242, 229, 237, 0.8);
  padding: 0.31em 0em 0em 0em;
  border: 0px;
  position: absolute;
  font-size: 1.313em;
  top: 50%;
  margin-top: 0%;
  width: 1.313em;
  text-align: center;
  color: #262d3d;
}

/* line 1082, ../_sass/main.scss */
.galleryContainer .next {
  right: 0;
}

/* line 1086, ../_sass/main.scss */
.galleryContainer .prev:hover, .galleryContainer .next:hover {
  color: #f1b6ce;
  background-color: #f2e5ed;
}

/* line 1094, ../_sass/main.scss */
.galleryContainer .selectorsBlock {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 7.5%;
}

/* line 1101, ../_sass/main.scss */
.galleryContainer .selectorsBlock .selectors {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 30%;
  height: 100%;
}

/* line 1110, ../_sass/main.scss */
.galleryContainer .selectorsBlock .selectors .item {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 10%;
  height: 100%;
  margin: 0 0 0 5%;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* line 1122, ../_sass/main.scss */
.galleryContainer .selectorsBlock .selectors .selected, .galleryContainer .selectorsBlock .selectors .selected:hover {
  background: #f1b6ce;
}

/* line 1126, ../_sass/main.scss */
.galleryContainer .selectorsBlock .selectors .first {
  margin-left: 0;
}

/* line 1130, ../_sass/main.scss */
.galleryContainer .selectorsBlock .selectors .item:hover {
  background-color: #fff;
}

/*hide controlls if no javascript*/
/* line 1138, ../_sass/main.scss */
.item, .prev, .next, selectorsBlock {
  display: none;
}

/* line 1143, ../_sass/main.scss */
.firstItem {
  display: block;
}

/*CV PAGE*/
/* line 1177, ../_sass/main.scss */
section.CVContent p {
  font-size: 1em;
  line-height: 1.517;
  clear: both;
}

/* line 1183, ../_sass/main.scss */
section.profile {
  margin-top: 0em;
}

/* line 1187, ../_sass/main.scss */
img.profilePortrait, section.university img {
  width: 33%;
  float: left;
  margin-bottom: 1.313em;
  margin-right: 1.313em;
}

/* line 1194, ../_sass/main.scss */
section.profile div.CVCredentials {
  width: 60.8%;
  background: #fff;
  background: rgba(255, 255, 255, 0.4);
}

/* line 1200, ../_sass/main.scss */
section.profile div.CVCredentials, section.university div {
  float: left;
}

/* line 1206, ../_sass/main.scss */
section.profile div.CVCredentials h1 {
  margin: 0;
  line-height: 1.313em;
  display: table;
}

/* line 1212, ../_sass/main.scss */
section.profile div.CVCredentials ul {
  padding: 0 0 0 0;
  margin: 0;
  line-height: 2.125em;
  font-size: 0.812em;
}

/* line 1218, ../_sass/main.scss */
section.profile div.CVCredentials ul li {
  list-style-type: circle;
  list-style-position: inside;
}

/* line 1223, ../_sass/main.scss */
section.profile div.CVCredentials ul li, section.university div span {
  line-height: 1.313em;
  margin-top: 0.812em;
}

/* line 1228, ../_sass/main.scss */
section.university {
  margin-top: 2em;
}

/* line 1232, ../_sass/main.scss */
section.university div span {
  display: block;
}

/* line 1236, ../_sass/main.scss */
section.profile div.CVdl {
  clear: both;
  text-align: center;
  border: 1px solid #f1b6ce;
  background: #fff;
  padding: 0.6em 0em 0.3em 0em;
  margin-top: 0.502em;
}

/* line 1246, ../_sass/main.scss */
section.profile div.CVdl p {
  display: inline;
  font-size: 0.812em;
  position: relative;
  top: -2px;
}

/* line 1258, ../_sass/main.scss */
section.profile div.CVdl a {
  font-size: 1em;
  margin: 1.7em auto 2.125em auto;
  padding-top: 0.501em;
}

/* line 1266, ../_sass/main.scss */
section.experience section#mbd, section.experience section#freelance {
  background-color: #fff;
  border: 1px solid #f1b6ce;
  padding: 0em 1.313em 1em 1.313em;
}

/* line 1273, ../_sass/main.scss */
section.experience a.revealJobInfo {
  display: none;
  font-size: 1em;
}

/* line 1278, ../_sass/main.scss */
section.experience section#freelance {
  margin-top: 1.313em;
}

/* line 1282, ../_sass/main.scss */
section.experience span.jobTitle, section.experience div.timePeriod {
  margin-top: 0.501em;
  margin-bottom: 0.501em;
  font-size: 0.812em;
  line-height: 1.313em;
  display: block;
  color: #404554;
}

/* line 1294, ../_sass/main.scss */
section.experience span.jobTitle {
  font-weight: bold;
}

/* line 1301, ../_sass/main.scss */
section.skills ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1em;
}

/* line 1307, ../_sass/main.scss */
section.skills ul li {
  line-height: 1.313em;
  margin-top: 0.31em;
}

/* line 1314, ../_sass/main.scss */
section.skills ul li img {
  margin-top: -2px;
  margin-right: 0.6em;
}

/* line 1319, ../_sass/main.scss */
section.university div span.establishment, section#mbd time, section#freelance time {
  font-style: italic;
}

/* line 1324, ../_sass/main.scss */
section.personal ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 1329, ../_sass/main.scss */
section.personal ul li {
  display: block;
  float: left;
  width: 18.31%;
  margin-right: 0.502em;
}

/* line 1336, ../_sass/main.scss */
section.personal ul li:last-child {
  margin-right: 0em;
}

/* line 1340, ../_sass/main.scss */
section.personal img {
  margin: 0 auto;
  display: block;
}

/* ==|== media queries ======================================================

Breakpoints:
Ultra Wide
max 1400px

Desktop
960 px or higher

Tablet (portrait orientation)
750-959 px
Mobile (landscape orientation)
470-749 px

Mobile (portrait orientation)
Less than 469 px
   ========================================================================== */
  /*ForCV Menu Item Only
@media only screen and (max-width: 32.11em) {
	nav.master ul li.cv a{
		margin-top: -0.5em;
		padding-bottom: 0px;
		margin-bottom: 0.5em;
	}
}   
*/
/*Mobile Portrait*/
/* (A) Applied to 519px and smaller*/
@media only screen and (max-width: 519px) {
  /* line 1384, ../_sass/main.scss */
  section.logo img {
    height: 2.125em;
    float: left;
    margin-left: 10%;
  }

  /* line 1390, ../_sass/main.scss */
  section.logo h1 {
    font-size: 1.313em;
    margin-top: -0.20em;
    text-align: left;
    margin-left: 45%;
    line-height: 1em;
  }

  /* line 1399, ../_sass/main.scss */
  section.logo h1 span {
    letter-spacing: 0.192em;
    display: inline;
    text-align: left;
  }

  /* line 1406, ../_sass/main.scss */
  section.intro {
    font-size: 12px;
    line-height: 217%;
  }

  /* line 1413, ../_sass/main.scss */
  section.intro a {
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.225em 0 0.225em 0;
    margin: 1.7em auto 2.125em auto;
  }

  /*section.folioItems article#folioItem1:target {
  	-webkit-transition: left 0.3s ease-out;
  	moz-transition: left 0.3s ease-out;
  	-o-transition: left 0.3s ease-out;
  	transition: left 0.3s ease-out;
  }*/
}
/* Mobile Landscape and tablet portrait*/
/* (B) Applied to 520px and larger*/
@media only screen and (min-width: 520px) {
  /* line 1444, ../_sass/main.scss */
  p {
    font-size: 1em;
    line-height: 1.313em;
  }

  /* line 1450, ../_sass/main.scss */
  footer.master img {
    margin-right: 1em;
  }

  /* line 1454, ../_sass/main.scss */
  section.contact {
    width: 520px;
    left: 50%;
    margin-left: -260px;
  }

  /* line 1461, ../_sass/main.scss */
  section.intro, section.logo {
    width: 100%;
    float: left;
  }

  /* line 1467, ../_sass/main.scss */
  section.logo {
    margin-right: 5.1%;
  }

  /* line 1473, ../_sass/main.scss */
  section.intro {
    border-bottom: none;
  }

  /* line 1477, ../_sass/main.scss */
  section.intro a {
    padding: 0.501em;
    display: block;
    clear: both;
    text-align: center;
    width: 66%;
    margin: 1.619em auto 5em auto;
    /*fix height*/
  }

  /* line 1487, ../_sass/main.scss */
  section.folio {
    clear: both;
  }

  /* line 1493, ../_sass/main.scss */
  section.folio ul li {
    float: left;
    width: 31.9%;
  }

  /* line 1499, ../_sass/main.scss */
  section.folio ul li:nth-child(even) {
    margin-right: 10px;
  }

  /* line 1504, ../_sass/main.scss */
  section.folio ul li:nth-child(3n) {
    margin-right: 0px;
  }

  /* CV PAGE*/
  /* line 1513, ../_sass/main.scss */
  section.profile ul li {
    font-size: 1.313em;
  }

  /* line 1518, ../_sass/main.scss */
  section.profile div.CVdl {
    margin: 1.313em auto;
    width: 60%;
    float: left;
    clear: none;
  }

  /* line 1525, ../_sass/main.scss */
  section.skills ul li {
    float: left;
    width: 50%;
  }

  /* line 1530, ../_sass/main.scss */
  section.university div.UniMeta {
    width: 66%;
  }
}
/*tablet portrait */
/* (C) applied to 700 and larger */
@media only screen and (min-width: 700px) {
  /* line 1546, ../_sass/main.scss */
  div.container {
    padding: 3em 3em;
  }

  /* line 1551, ../_sass/main.scss */
  nav.master ul#navigation {
    border-left: 1em solid #ccc;
    border-right: 1em solid #ccc;
  }

  /* line 1556, ../_sass/main.scss */
  div.logoHead img {
    margin-bottom: 48px;
  }

  /* line 1560, ../_sass/main.scss */
  .galleryContainer .selectorsBlock .selectors .item {
    border: 2px solid #eee;
  }

  /* line 1564, ../_sass/main.scss */
  h1, section.folioItems h1 {
    margin-top: 2.5em;
    font-size: 3em;
  }

  /* line 1570, ../_sass/main.scss */
  section.contact h1 {
    margin-top: 0.313em;
  }

  /* line 1574, ../_sass/main.scss */
  section.folioItems h1 {
    margin-top: 0;
  }

  /* line 1579, ../_sass/main.scss */
  h2 {
    font-size: 2em;
  }

  /* line 1583, ../_sass/main.scss */
  section.experience h1 {
    margin-top: 1.313em;
  }

  /* line 1587, ../_sass/main.scss */
  section.experience span.jobTitle, section.experience div.timePeriod {
    font-size: 1.313em;
  }

  /* line 1592, ../_sass/main.scss */
  section.profile div.CVCredentials h1 {
    font-size: 2.5em;
    line-height: 1em;
    text-align: left;
  }

  /* line 1598, ../_sass/main.scss */
  p, section.CVContent p, section.projectDetails p {
    font-size: 1.313em;
  }

  /* line 1603, ../_sass/main.scss */
  section.profile div.CVdl {
    clear: both;
    width: 100%;
    font-size: 1.5em;
    padding: 0 1em 0.1em 1em;
    box-sizing: border-box;
  }

  /* line 1611, ../_sass/main.scss */
  section.profile div.CVdl a {
    padding-bottom: 0.501em;
  }

  /* line 1616, ../_sass/main.scss */
  section.skills ul li {
    font-size: 1.313em;
  }

  /* line 1621, ../_sass/main.scss */
  section.university div.UniMeta span {
    font-size: 1.313em;
  }
}
/* Desktop and ipad landscape */
/* (D) applied to 960px and larger*/
@media only screen and (min-width: 960px) {
  /* line 1633, ../_sass/main.scss */
  p {
    max-width: none;
    width: 66%;
  }

  /* line 1638, ../_sass/main.scss */
  section.contact p {
    width: 100%;
  }

  /* line 1644, ../_sass/main.scss */
  div.container {
    border-width: 0;
    padding: 0;
    max-width: 1200px;
  }

  /* line 1651, ../_sass/main.scss */
  section.intro, section.folio {
    padding: 0 3em;
    box-sizing: border-box;
  }

  /* line 1657, ../_sass/main.scss */
  section.intro p {
    margin: 30px auto 1.619em auto;
  }

  /* line 1662, ../_sass/main.scss */
  div.logoHead {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* line 1671, ../_sass/main.scss */
  div.logoHead img {
    /*width: 60%;*/
    width: 38.5%;
  }

  /* line 1676, ../_sass/main.scss */
  header {
    min-height: 50px;
    position: relative;
  }

  /* line 1681, ../_sass/main.scss */
  nav.master {
    background-color: #fefefe;
    width: 100%;
    position: absolute;
    clear: both;
    display: block;
    line-height: 2.9em;
    z-index: 0;
  }

  /* line 1691, ../_sass/main.scss */
  nav.master ul#navigation {
    border-width: 0px;
    position: absolute;
    background: transparent;
    box-shadow: none;
    width: 430px;
    border-bottom: 1px solid #f2e5ed;
    padding-top: 3px;
    background-color: #fefefe;
    margin-left: -215px;
    left: 50%;
  }

  /* line 1709, ../_sass/main.scss */
  nav.master ul li {
    margin-right: 1.313em;
    width: auto;
  }

  /* line 1714, ../_sass/main.scss */
  nav.master ul li.icon {
    width: auto;
  }

  /* line 1718, ../_sass/main.scss */
  nav.master ul li:first-child {
    margin-left: 1.313em;
  }

  /* line 1723, ../_sass/main.scss */
  nav.master ul li a {
    display: block;
    padding: 0.811em 0.3em;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    border-bottom: none;
    line-height: 100%;
  }

  /* line 1734, ../_sass/main.scss */
  footer.master p {
    margin-left: 4em;
  }

  /* line 1738, ../_sass/main.scss */
  footer.master img {
    margin-right: 3em;
  }

  /* line 1742, ../_sass/main.scss */
  section.contact {
    padding-top: 1.313em;
  }

  /* line 1746, ../_sass/main.scss */
  section.contact h1 {
    margin-top: 0em;
  }

  /* line 1750, ../_sass/main.scss */
  section.contact p {
    width: 100%;
  }

  /* line 1754, ../_sass/main.scss */
  section.contact a.close {
    margin-top: -5px;
  }

  /* line 1757, ../_sass/main.scss */
  section.intro a {
    font-size: 1em;
    text-decoration: none;
    border-bottom: 1px solid #000;
  }

  /* line 1763, ../_sass/main.scss */
  section.intro a:hover {
    border-bottom: 1px solid #999;
  }

  /* line 1767, ../_sass/main.scss */
  section.intro a:active {
    color: #bbb;
    border-bottom: 1px solid #bbb;
  }

  /* line 1775, ../_sass/main.scss */
  section.folio ul {
    max-width: 66%;
  }

  /* line 1779, ../_sass/main.scss */
  section.CVContent {
    margin: 2em 1.313em;
    clear: both;
  }

  /* line 1784, ../_sass/main.scss */
  section.CVContent p {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 1789, ../_sass/main.scss */
  section.profile {
    background: url(../images/profileWide.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0;
    margin-bottom: 1.313em;
    padding-left: 0px;
    padding-right: 2em;
    box-sizing: border-box;
  }

  /* line 1803, ../_sass/main.scss */
  section.profile img.profilePortrait {
    display: none;
  }

  /* line 1807, ../_sass/main.scss */
  section.profile div.CVCredentials {
    width: 33%;
    padding: 1em;
    margin-left: 60%;
    box-sizing: border-box;
  }

  /* line 1816, ../_sass/main.scss */
  section.profile div.CVdl {
    margin-top: 0px;
    font-size: 1em;
    margin-bottom: 0px;
    box-sizing: border-box;
  }

  /* line 1825, ../_sass/main.scss */
  section.profile p.aboutIntro {
    margin-left: 60%;
    background: #fff;
    background: rgba(255, 255, 255, 0.4);
    width: 33%;
    font-size: 1.1em;
    padding: 1em 1em 2em 1em;
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-right: 1em;
  }

  /* line 1838, ../_sass/main.scss */
  section.profile div.CVdl p {
    top: 0px;
    left: -1em;
    font-size: 1em;
  }

  /* line 1844, ../_sass/main.scss */
  section.experience p.moreJobInfo {
    width: 100%;
  }

  /* line 1848, ../_sass/main.scss */
  section.experience section#mbd, section.experience section#freelance {
    width: 42.4%;
    float: left;
  }

  /* line 1856, ../_sass/main.scss */
  section.experience section#mbd {
    margin-right: 5.1%;
  }

  /* line 1860, ../_sass/main.scss */
  section.experience section#freelance {
    margin-top: 0;
    float: right;
  }

  /* line 1866, ../_sass/main.scss */
  section.skills ul {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 1872, ../_sass/main.scss */
  section.university div.UniMeta {
    width: 66%;
    margin: 0 auto;
    float: none;
  }

  /* line 1879, ../_sass/main.scss */
  section.university img {
    width: 15%;
    clear: left;
  }

  /* line 1885, ../_sass/main.scss */
  section.personal img {
    margin: 0 auto;
    display: block;
  }

  /* line 1890, ../_sass/main.scss */
  section.folioItems img {
    width: 66%;
    margin: 1.313em auto 0 auto;
    display: block;
  }

  /* line 1896, ../_sass/main.scss */
  section.folioItems h1 {
    width: 66%;
    margin: auto auto;
    display: block;
  }

  /* line 1902, ../_sass/main.scss */
  section.projectDetails p {
    text-align: center;
    display: table;
    margin: auto auto;
  }

  /* line 1908, ../_sass/main.scss */
  section.projectDetails p {
    margin-top: 2em;
    margin-bottom: 3em;
  }

  /* line 1913, ../_sass/main.scss */
  a.nextProject {
    margin-bottom: 3em;
  }
}
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 1931, ../_sass/main.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 1932, ../_sass/main.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 1935, ../_sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 1938, ../_sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 1941, ../_sass/main.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 1944, ../_sass/main.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 1947, ../_sass/main.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 1948, ../_sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 1949, ../_sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 1959, ../_sass/main.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 1960, ../_sass/main.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 1961, ../_sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 1962, ../_sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 1963, ../_sass/main.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 1964, ../_sass/main.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 1965, ../_sass/main.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 1966, ../_sass/main.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 1967, ../_sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 1969, ../_sass/main.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 1970, ../_sass/main.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1974, ../_sass/main.scss */
.intro {
  text-align: center;
}
