<section class="portfolio clearfix">
  <div class="container">
    <div class="portfolio__case-studies">
      <a href="/amazondc/arnoldclark" class="portfolio__case-study">
        <h3>Car Search</h3>
        <p>Find your perfect car from Arnold Clark's dealerships.</p>
        <img src="/images/amazondc/arnoldclark.jpg" alt="">
      </a>
      
      <a href="/amazondc/servicebookingform" class="portfolio__case-study">
        <h3>Book a Service</h3>
        <p>A booking process for servicing your car.</p>
        <img src="/images/amazondc/sbf.jpg" alt="">
      </a>
    </div>

    <div class="portfolio__case-studies">
      <a href="/amazondc/acvm" class="portfolio__case-study">
        <h3>Vehicle Management</h3>
        <p>A public facing website to promote ACVM.</p>
        <img src="/images/amazondc/acvm.jpg" alt="">
      </a>
        
      <a href="/amazondc/autocentre" class="portfolio__case-study">
        <h3>AutoCentre</h3>
        <p>An application for fleet managers and company car drivers.</p>
        <img src="/images/amazondc/autocentre.jpg" alt="">
      </a>
    </div>

  </div>
</section>
