<section class="CVContent profile clearfix">
  <img class="profilePortrait" src="{{ site.baseurl }}/images/profile.png" alt="" />
  
  <div class="CVCredentials ">
    <h1>Alastair Taylor</h1>
    <ul>
      
      <li>Web and UX Designer</li>
      <li>BSc Innovative Product Design</li>
      <li>Based in Glasgow, Scotland</li>
    </ul>
  </div>

  <p class="aboutIntro ">Alastair has been working in the digital industry since graduating in 2007. With a background in user-centred industrial and service design Alastair now creates web sites and digital strategy for global brands.
  </p>
</section>