<footer class="footer" id="contact">
  <section class="container">
    <h2 class="type_display_1 footer_title">Like what you see?</h2>
    <p class="type_featured footer_body">Interested to know more, have an interesting opporuntuy or just want to talk shop? Reach out to me below.</p>
    <ul class="list_nostyle">
      <li><a class="type_featured link_nostyle" href="mailto:hello@alastairtaylor.com">hello@alastairtaylor.com</a></li>
      <li><a class="type_featured link_nostyle" href="">@hellomrtaylor</a></li>
      <li><a class="type_featured link_nostyle" href="">LinkedIn</a></li>
    </ul>
  </section>
</footer>