<footer class="footer" id="contact">
  <section class="container">
    <h2 class="type_display_1 footer_title">Contact</h2>
    <p class="type_featured footer_body">Interested to know more, have an interesting opportunity or just want to talk shop? Lets talk!</p>
    <ul class="list_nostyle">
      <li><a class="type_featured link_nostyle" href="mailto:hello@alitaylor.nl">hello@alitaylor.nl</a></li>
      <li><a class="type_featured link_nostyle" href="https://twitter.com/hellomrtaylor">@hellomrtaylor</a></li>
      <li><a class="type_featured link_nostyle" href="https://www.linkedin.com/in/ali-taylor/">LinkedIn</a></li>
    </ul>
  </section>
</footer>




