<footer class="footer" id="contact">
  <section class="container">
    <div class="footer_moon"></div>
    <h2 class="type_display_1 footer_title">Contact</h2>
    <ul class="list_nostyle footer_list">
      <li><a class="type_featured link_nostyle" href="mailto:hello@alitaylor.nl">hello@alitaylor.nl</a></li>
      <li><a class="type_featured link_nostyle" href="https://twitter.com/hellomrtaylor">@hellomrtaylor</a></li>
      <li><a class="type_featured link_nostyle" href="https://www.linkedin.com/in/ali-taylor/">LinkedIn</a></li>
    </ul>
  </section>
</footer>




