  <header>
    <nav class="master clearfix">
      <ul id="navigation" class="clearfix">

        


        <li class="icon"><a href="{{ site.baseurl }}/" class="ss-icon {% if page.type == "home" %}current{% endif %}">Home</a></li>
        <li class="cv"><a href="{{ site.baseurl }}/about" {% if page.type == "about" %}class="current"{% endif %}>About</a></li>
        <li class="cv"><a href="{{ site.baseurl }}/#portfolio" {% if page.type == "portfolio" %}class="current"{% endif %}>Portfolio</a></li>
        
        <li class="icon"><a href="#Leave-A-Message" class="ss-icon">Mail</a>
        <li class="icon"><a href="http://uk.linkedin.com/pub/alastair-taylor/" class="ss-icon ss-social">linkedin</a></li>     
        <li class="icon"><a href="http://twitter.com/hellomrtaylor" class="ss-icon ss-social">twitter</a></li>
        <li class="icon"><a href="http://www.dribbble.com/hellomrtaylor" class="ss-icon ss-social">dribbble</a></li>
        
      </ul>
    <div class="clear">&nbsp;</div>
    </nav>
    
    
    
    </header>