<nav class="nav">
  <ul class="nav_list container">
    <li class="nav_list_item nav_list_item--back type_display_3">
      <a href="/" class="link_nostyle"><svg class="nav_icon"xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="16"><path d="M0 0h24v24H0z" fill="none"/><path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"/></svg>Back</a>
    </li>
    <li class="nav_list_item type_display_3"><a href="/" class="link_nostyle">About</a></li>
    <li class="nav_list_item type_display_3"><a href="/" class="link_nostyle">Contact</a></li>
  </ul>
</nav>