   <nav>
      <ul class="clearfix">
        <li>
          <a href="{{ site.baseurl }}/portfolio/akamas-view" class="vignette">
            <img src="{{ site.baseurl }}/images/folio/AkamasViewNav2.jpg" alt="" />
          
            <h2>Akamas View</h2>
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/portfolio/bowmore" class="vignette">
            <img src="{{ site.baseurl }}/images/folio/BowmoreNav2.jpg" alt="" />
            <h2>Bowmore Whisky</h2>
            
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/portfolio/glen-garioch" class="vignette">
            <img src="{{ site.baseurl }}/images/folio/GlenGariochNav2.jpg" alt="" />
          
            <h2>Glen Garioch</h2>
            
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/portfolio/morrison-bowmore" class="vignette">
            <img src="{{ site.baseurl }}/images/folio/MBDNav2.jpg" alt="" />
          
            <h2>MBD Corporate</h2>
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/portfolio/whisky-picnic" class="vignette">
            <img src="{{ site.baseurl }}/images/folio/WhiskyPicnicNav2.jpg" alt="" />
          
            <h2>Whisky Picnic</h2>
            
          </a>
        </li>
      </ul>
      </nav>