@import "normalize";
@import "fonts";

$body-color: #001C2F;
$highlight-color: #009AFF;
$lowlight-color: #8F99A0;
$contast-color: #D5DBDE;

$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 21px;

$rhythm: 24px;
$gutter: 24px;

$font-normal: "bariol_regularregular", helvetica, sans-serif;
$font-italic: "bariolregular_italic", helvetica, sans-serif;

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #fafafa;
  color: $body-color;
  font-family: $font-normal;
}

h1, h2, h3 {
  line-height: 1.2;
  margin: ($rhythm / 2) 0 ($rhythm / 4);
}

h1 {
  color: $highlight-color;
  font-size: $font-size-lg;
  font-family: $font-italic;
}

h2 {
  color: $body-color;
  font-size: $font-size-sm;
  font-family: $font-italic;
}

h3 {
  color: $body-color;
  font-size: $font-size-md;
  a {
    color: $body-color;
  }
}

p {
  font-size: $font-size-sm;
  margin: ($rhythm / 4) 0;

}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto ($rhythm / 2);
}

a {
  text-decoration: none;
  color: $highlight-color;

  &:hover,
  &:active {
    opacity: .7;
  }
}

.link {
  color: $lowlight-color;
  margin: 0 0 ($rhythm / 2);
  border-bottom: 1px solid $highlight-color;
}

.container {
  max-width: 998px;
  margin: 0 auto;
  padding: ($rhythm / 2) ($gutter / 2);
    
  @media (min-width: 500px) {
    padding: ($rhythm / 2) $gutter;
  }
}

.header {
  border-bottom: 1px solid #e2e2e2;
}

.header__name {
  float: left;
  display: inline-block;
  color: $body-color;
}

.header__title {
  color: $lowlight-color;
}

.header__mailto {
  display: inline-block;
  color: $lowlight-color;
  float: left;
  clear: left;
    
  @media (min-width: 430px) {
    clear: none;
    float: right;
    margin-top: ($rhythm * .75);
  }
}

.here-goes-nothing {
  max-width: 600px;

  @media (min-width: 500px) {
    margin: $rhythm auto ($rhythm * 2);
  }
}

.a-big-hello {
  font-size: 28px;
  
  @media (min-width: 500px) {
    font-size: 48px;
  }
}

.lemme-introduce-myself {
  font-size: $font-size-md;
  line-height: 1.4;
  
  @media (min-width: 500px) {
    font-size: $font-size-lg;
  }
}

.cv-download {
  display: block;
  background-color: #fafafa;
  border: 1px solid $highlight-color;
  padding: ($rhythm / 2) $gutter;
  width: 200px;
  margin: ($rhythm / 2) auto;

  @media (min-width: 500px) {
    display: inline-block;
    float: right;
  }
}

.cv-format {
  color: $lowlight-color;
  font-family: $font-italic;

}

.portfolio,
.case-study { 
  background-color: #efefef;
  text-align: center;
}

.portfolio__case-studies {
  @media (min-width: 500px) {
    width:50%;
    float: left;

    &:nth-of-type(even) {
      padding-left: $gutter;
    }

    &:nth-of-type(odd) {
      padding-right: $gutter;
    }

    p {
      min-height: 30px;
    }
  }
}

.portfolio__case-study {
  display: block;
  margin: ($rhythm * 1.5) 0;
  color: $body-color;
}

.portfolio__live-link-wrapper {
  display: block;
}

.a-big-project {
    font-size: 24px;
  
  @media (min-width: 500px) {
    font-size: 36px;
  }
}

.case-study {
  border-bottom: 1px solid $contast-color;
  padding: ($rhythm / 2) 0;

  @media (min-width: 500px) {
    padding: ($rhythm * 1.5) 0;
  }
}

.case-study__fullscreen,
.case-study__widescreen,
.case-study__halfscreen {
  max-width: 100%;
  margin: $rhythm auto;

  @media (min-width: 700px) {
    margin: ($rhythm * 2) auto;
  }
}

.case-study__fullscreen {
  @media (min-width: 648px) {
    width: 600px; 
  }
}

.case-study__halfscreen {
  @media (min-width: 400px) {
    width: 300px;
  }
}

.case-study__mobile {
  display: block;

  @media (min-width: 500px) {
    margin: $rhythm auto;
  }

  @media (min-width: 700px) {
    margin: ($rhythm * 2) auto;
  }

  @media (min-width: 760px) {
    width: 708px;
  }
}

.case-study__mobile-image {
  box-shadow: 2px 2px 8px rgba(50, 50, 50, .2);
  width: 220px;
  max-width: 100%;
  margin: $rhythm auto;

  @media (min-width: 500px) {
    width: 30%;
    float: left;
    margin-right: 5%;
    margin: 0 5% 0 0;
    
    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: 760px) {
    width: 220px;
    margin-right: $gutter;
  }
}

.back-to-top {
  display: inline-block;
}