$black: #000000;
$nearly-black: rgba(0, 0, 0, 0.8);
$nearly-black-flat: #333130;
$light-black: rgba(0, 0, 0, 0.6);

$cream: #ffeddc;
$off-white: #fff7ef;
$off-white-light: rgba(253, 252, 251, 0.95);
$white: #ffffff;

$rust-dark: #e3644d;
$rust-light: #f2a597;
$rust-lightest: #edc0b7;
$rust-normal: #ff664a;

$teal-dark: #375856;
$teal-light: #89afad;
$teal-lightest: #c2c9c8;
$teal-normal: #2e7a76;

$bp-tablet: 768px;
$bp-desktop: 990px;

* {
  box-sizing: border-box;
}

body{
  background: $off-white;
  font-size: 18px;
  font-family: 'IBM Plex Serif', serif;
  font-style: normal;
  font-weight: normal;
  line-height: 156%;
  color: $nearly-black;
}


.responsive_img {
  max-width: 100%;
}

.container {
  padding: 0 16px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.type_site_title {
  font-weight: bold;
  font-size: 160px;
  line-height: 100px;
  text-align: center;
  margin: 120px 0 56px 0;
  @media (min-width: $bp-tablet) {
    font-size: 180px;
    line-height: 120px;
  }

  @media (min-width: $bp-desktop) {
    font-size: 250px;
    line-height: 150px;
    margin: 80px 0 24px 0;
  }
}

.type_site_title--small {
  font-size: 68px;
  display: block;
  @media (min-width: $bp-tablet) {
    font-size: 75px;
  }

  @media (min-width: $bp-desktop) {
    font-size: 106px;
  }
}

.type_site_title--feature {
  color: $rust-normal;
  position: relative;
}
.type_site_title--feature:before {
  content: "ı";
  position: absolute; 
  color: $nearly-black-flat;
}

.type_featured {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.type_display_1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 28px;
  line-height: 38px;
}

.type_display_2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
}

.type_display_3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

.type_body {
  margin-bottom: 16px;
}

.type_list {
  padding-left: 24px;
}

.type_list_item {
  margin-bottom: 16px;

}

.type_caption {
  font-size: 14px;
  line-height: 20px;
}


/*general */

.link_nostyle,
.link_nostyle:visited,
.link_nostyle:active,
.link_nostyle:focus,
.link_nostyle:hover {
  text-decoration-line: none;
  color: inherit;
}


.link_style,
.link_style:visited {
  text-decoration-line: none;
  color: $nearly-black;
}

.link_style:active,
.link_style:focus {
  color: $rust-dark;
}

.link_style:hover{
  color: $black;
}


.list_nostyle {
  list-style-type: none;
  padding-left: 0;
}


/*header */

.header {
  margin-top: 56px;
  @media (min-width: $bp-tablet) {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

.header_body {
  align-self: center;
}


/* NAV */

.nav {
  background-color: $off-white-light;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 56px;
  top: 0;
  transition: top 0.2s ease-in-out;
}

.nav--up {
  top: -56px;
}

.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav_list_item {
  padding: 8px 8px;
  margin: 8px;
  border-radius: 4px;
  @media (min-width: $bp-tablet) {
    margin: 8px 16px;
  }

  &:hover{
    color: $black;
    background-color: $cream;
  }
}

.nav_list_item--back {
  margin-right: auto;
}

.nav_icon {
  fill: $nearly-black;
  padding-top: 2px;
}

/* footer */
.footer {
  background-color: $teal-dark;
  padding: 20px 0;
  color: $off-white;
  margin-top: 40px;
}

.footer_title {
  margin: 24px 0 8px 0;
}

.footer_body {
  margin-top: 0;
  max-width: 500px;
}

/* Project list*/

.project_section {
  margin-top: 56px;
  margin-bottom: 56px;
}

.project_section_title {
  color: $light-black;
}

.project_list {
  @media (min-width: $bp-tablet) {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project_list--featured {
  @media (min-width: $bp-tablet) {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

.project_list_item_title {
  margin-bottom: 4px;
  @media (min-width: $bp-tablet) {
    margin-bottom: 8px;
  }
}

.project_list_item_title--featured {
  margin: 24px 0 8px 0;
}

.project_item_role {
  color: $rust-normal;
  margin: 0;
}

.project_item {
  margin: 0 0 24px 0;
  display: block;
}

.project_item--featured {
  padding: 20px;
  background-color: $white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
}

.project_item--featured:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.coming_soon {
  color: $light-black;
  margin: 8px 0 0;
}

.project_item--coming_soon:hover {
  color: $nearly-black;
}



/*case study*/
.reading_time {
  color: $rust-normal;
}

.article {
  // margin-bottom: 56px;
  max-width: 700px;
}

.article_title {
  margin: 112px 0 24px 0;
}

.article_heading {
  margin-top: 48px;
}

.article_image_container {
  background-color: $white;
  margin: 24px -16px;
  padding: 16px;
}

.article_gallery {
  overflow-y: auto;
}

.article_gallery_figure {
  background-color: $white;
  display: grid;
  width: 250%;
  padding: 16px;
  column-gap: 16px;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: $bp-tablet) {

  width: 100%;
  padding: 16px 56px;
  column-gap: 40px;
  }
}

.article_gallery_figure--5 {
  grid-template-columns: repeat(5, 1fr);
}

.article_image {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.article_image:first-child {
  margin-top: 0px;
}

.article_image--noshadow {
  box-shadow: none;
}

.article_gallery_link .article_image:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.article_image_caption {
  margin: 16px 0px 0;
}