$black: #000000;
$nearly-black: rgba(0, 0, 0, 0.8);
$nearly-black-flat: #333130;
$light-black: rgba(0, 0, 0, 0.6);

$cream: #ffeddc;
$off-white: #fff7ef;
$off-white-light: rgba(253, 252, 251, 0.95);
$white: #ffffff;

$rust-dark: #e3644d;
$rust-light: #f2a597;
$rust-lightest: #edc0b7;
$rust-normal: #ff664a;

$teal-dark: #375856;
$teal-light: #89afad;
$teal-lightest: #c2c9c8;
$teal-normal: #2e7a76;

$bp-tablet: 768px;
$bp-desktop: 990px;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  background: $off-white;
  color: $nearly-black;
  display: grid;
  font-family: 'IBM Plex Serif', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  grid-template-rows: 1fr auto;
  line-height: 156%;
  min-height: 100%;
}

.responsive_img {
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 0 16px;
  @media (min-width: $bp-tablet) {
    padding: 0 32px;
  }
}


.type_site_title {
  font-size: 160px;
  font-weight: bold;
  line-height: 100px;
  margin: 120px 0 56px 0;
  text-align: center;
  @media (min-width: $bp-tablet) {
    font-size: 180px;
    line-height: 120px;
  }
  @media (min-width: $bp-desktop) {
    font-size: 250px;
    line-height: 150px;
    margin: 80px 0 24px 0;
    text-align: left;
  }
}

.type_site_title--small {
  display: block;
  font-size: 68px;
  @media (min-width: $bp-tablet) {
    font-size: 75px;
  }
  @media (min-width: $bp-desktop) {
    font-size: 106px;
  }
}

.type_site_title--feature {
  color: $rust-normal;
  position: relative;
}

.type_site_title--feature:before {
  color: $nearly-black-flat;
  content: "ı";
  position: absolute; 
}

.type_featured {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.type_display_1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 28px;
  line-height: 38px;
}

.type_display_2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
}

.type_display_3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}

.type_body {
  margin-bottom: 16px;
}

.type_list {
  padding-left: 24px;
}

.type_list_item {
  margin-bottom: 16px;
}

.type_caption {
  font-size: 14px;
  line-height: 20px;
}


/*general */

.link_nostyle,
.link_nostyle:visited,
.link_nostyle:active,
.link_nostyle:focus,
.link_nostyle:hover {
  color: inherit;
  text-decoration-line: none;
}


.link_style,
.link_style:visited {
  color: $nearly-black;
  text-decoration-line: none;
}

.link_style:active,
.link_style:focus {
  color: $rust-dark;
}

.link_style:hover{
  color: $black;
}


.list_nostyle {
  list-style-type: none;
  padding-left: 0;
}


/*header */

.header {
  margin-top: 56px;
  @media (min-width: $bp-tablet) {
    column-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
}

.header_body {
  align-self: center;
}


/* NAV */

.nav {
  background-color: $off-white-light;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  height: 56px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}

.nav--up {
  top: -56px;
}

.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav_list_item {
  border-radius: 4px;
  margin: 8px;
  padding: 8px 8px;
  @media (min-width: $bp-tablet) {
    margin: 8px 16px;
  }
  &:hover{
    background-color: $cream;
    color: $black;
  }
}

.nav_list_item--back {
  margin-right: auto;
}

.nav_icon {
  fill: $nearly-black;
  padding-top: 2px;
}

/* footer */
.footer {
  
  background: url(/images/general/footer.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  color: $off-white;
  margin-top: 80px;
  padding-top: 60px;
  padding: 20px 0;
  position: relative;
  @media (min-width: $bp-desktop) { 
    padding-top:40px
  }
}

.footer_title {
  margin: 24px 0 8px 0;
  text-align: right;
}

.footer_list {
  text-align: right;
}

.footer_body {
  margin-top: 0;
  max-width: 500px;
}

.footer_moon {
  background-color: $rust-normal;
  border-radius:  160px;
  height:  160px;
  position: absolute;
  right: 20vw;
  top: -30px;
  width: 160px;
  z-index: -1;
  @media (min-width: $bp-desktop) {
        top: -60px;
  }
}

/* Project list*/

.project_section {
  margin-top: 56px;
  margin-bottom: 56px;
}

.project_section_title {
  color: $light-black;
}

.project_list {
  @media (min-width: $bp-tablet) {
    column-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project_list--featured {
  @media (min-width: $bp-tablet) {
    column-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project_list_item_title {
  margin-bottom: 4px;
  @media (min-width: $bp-tablet) {
    margin-bottom: 8px;
  }
}

.project_list_item_title--featured {
  margin: 24px 0 8px 0;
}

.project_item_role {
  color: $rust-dark;
  margin: 0;
}

.project_item {
  display: block;
  margin: 0 0 24px 0;
}

.project_item--featured:hover {
  opacity: 0.8;
}

.coming_soon {
  color: $light-black;
  margin: 8px 0 0;
}

.project_item--coming_soon:hover {
  color: $nearly-black;
}

/*case study*/
.reading_time {
  color: $rust-dark;
}

.article {
  max-width: 700px;
}

.article_title {
  margin: 112px 0 24px 0;
}

.article_heading {
  margin-bottom: 8px;
  margin-top: 48px;
}

.article_image_container {
  margin: 24px 0;
}

.article_gallery {
  overflow-y: auto;
}

.article_gallery_figure {
  column-gap: 16px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px 0;
  @media (min-width: $bp-tablet) {
    column-gap: 40px;
    width: 100%;
  }
}

.article_gallery_figure--large {
    padding: 16px;
    width: 250%;
    @media (min-width: $bp-tablet) {
      padding: 16px 56px;
      width: 100%;
    }
}

.article_gallery_figure--mobile {
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  @media (min-width: $bp-tablet) {
    width: 50%;
  }
}

.article_image:first-child {
  margin-top: 0px;
}

.article_gallery_link,
.article_next_link,
.article_gallery_link:visited,
.article_next_link:visited {
  text-decoration-line: none;
  color: $rust-dark;
}

.article_gallery_link:active,
.article_next_link:active,
.article_gallery_link:focus,
.article_next_link:focus {
  color: $teal-dark;
}

.article_gallery_link:hover,
.article_next_link:hover{
  color: $teal-normal;
}

.article_next_link {
  display: inline-block;
  margin-top: 24px;
}

.article_gallery_link .article_image:hover {
  opacity: 0.8;
}

.article_image_caption {
  margin: 16px 0px 0;
}